@charset "UTF-8"; 

.wiki-article h1.wiki-heading, .wiki-article h2.wiki-heading,
	.wiki-article h3.wiki-heading, .wiki-article h4.wiki-heading,
	.wiki-article h5.wiki-heading, .wiki-article h6.wiki-heading {
	margin: 1.2em 0 .8em
}

.wiki-article h1.wiki-heading {
	font-size: 2.3em
}

.wiki-article h2.wiki-heading {
	font-size: 1.8em
}

.wiki-article h3.wiki-heading {
	font-size: 1.6em
}

.wiki-article h4.wiki-heading {
	font-size: 1.4em
}

.wiki-article h5.wiki-heading {
	font-size: 1.2em
}

.wiki-article h6.wiki-heading {
	font-size: 1em
}

.wiki-article .wiki-content h1.wiki-heading, .wiki-article .wiki-content h2.wiki-heading,
	.wiki-article .wiki-content h3.wiki-heading, .wiki-article .wiki-content h4.wiki-heading,
	.wiki-article .wiki-content h5.wiki-heading, .wiki-article .wiki-content h6.wiki-heading
	{
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px
}

.wiki-article .wiki-heading-content.wiki-heading-content-folded {
	display: none
}

.wiki-article .wiki-edit-section {
	float: right;
	font-size: .8rem
}

.wiki-article .wiki-paragraph {
	margin-bottom: 1rem
}

@media print {
	.wiki-edit-section {
		display: none
	}
}

.wiki-article del {
	color: gray
}

.wiki-article .wiki-size.size-up-1 {
	font-size: 14pt
}

.wiki-article .wiki-size.size-up-2 {
	font-size: 15pt
}

.wiki-article .wiki-size.size-up-3 {
	font-size: 16pt
}

.wiki-article .wiki-size.size-up-4 {
	font-size: 17pt
}

.wiki-article .wiki-size.size-up-5 {
	font-size: 18pt
}

.wiki-article .wiki-size.size-down-1 {
	font-size: 10pt
}

.wiki-article .wiki-size.size-down-2 {
	font-size: 9pt
}

.wiki-article .wiki-size.size-down-3 {
	font-size: 8pt
}

.wiki-article .wiki-size.size-down-4 {
	font-size: 7pt
}

.wiki-article .wiki-size.size-down-5 {
	font-size: 6pt
}

.wiki-article code {
	padding: 2px;
	background-color: transparent;
	border: none;
	border-radius: 0
}

.wiki-article pre {
	padding: 7px;
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 3px;
	overflow-x: auto
}

.wiki-article pre code {
	padding: 0;
	background: 0 0;
	border: none
}

.wiki-article .not-exist {
	color: red
}

.wiki-article .wiki-self-link {
	font-weight: 700
}

.wiki-article .wiki-link-external {
	color: #090
}

.wiki-article .wiki-link-external:before {
	padding: 0 .15em;
	background: green;
	color: #fff;
	content: "外"
}

.wiki-article .wiki-content img {
	display: inline-block;
	max-width: 100%
}

.wiki-article .wiki-table img {
	display: inline-block;
	max-width: initial
}

.wiki-article .wiki-list {
	margin: .4em 0 .4em 1.5em
}

.wiki-article .wiki-list-decimal {
	list-style: decimal
}

.wiki-article .wiki-list li .wiki-paragraph {
	margin-bottom: 0
}

.wiki-article .wiki-list-alpha {
	list-style: lower-alpha
}

.wiki-article .wiki-list-upper-alpha {
	list-style: upper-alpha
}

.wiki-article .wiki-list-roman {
	list-style: lower-roman
}

.wiki-article .wiki-list-upper-roman {
	list-style: upper-roman
}

.wiki-article .wiki-list li {
	margin: .4em 0;
	list-style: inherit !important;
	list-style-type: inherit !important
}

.wiki-article .wiki-fn-content {
	font-size: .8em;
	vertical-align: super
}

.wiki-article .wiki-macro-footnote {
	margin: 1.5em 0;
	padding: .5em 0;
	border-top: 1px solid #777
}

.wiki-article .footnote-list {
	line-height: 2em;
	display: block
}

.wiki-article .wiki-indent {
	padding-left: 10px
}

.wiki-article .wiki-quote {
	padding: 1em calc(2em + 25px) 1em 1em;
	margin: 1em 0;
	background: #eee;
	display: table;
	border: 2px dashed #ccc;
	border-left: 5px solid #71bc6d
}

.wiki-article .wiki-quote .wiki-paragraph {
	margin-bottom: 0
}

.wiki-article .wiki-quote .wiki-indent {
	padding-left: 0
}

.wiki-article hr {
	margin: .5em 0;
	border-top: .0625rem solid #ccc
}

.wiki-article .wiki-macro-toc {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 12px 20px 18px 0;
	margin-left: 5px;
	font-size: .9rem
}

.wiki-article .wiki-macro-toc:before {
	content: "목차";
	font-size: 18px;
	margin-left: 14px
}

.wiki-article .toc-indent {
	padding-left: 20px
}

.wiki-article .wiki-macro-toc>.toc-indent:first-of-type {
	margin-top: 12px
}

.wiki-article .toc-item {
	display: block
}

.wiki-article iframe {
	display: block;
	max-width: 100%
}

.wiki-article video {
	max-width: 100%
}

.wiki-article .wiki-table-wrap {
	display: block;
	max-width: 100%;
	overflow-x: auto;
	margin: 10px 0
}

.wiki-article .wiki-table-wrap.table-center {
	margin: 10px auto
}

.wiki-article .wiki-table {
	background-color: #f5f5f5;
	border-collapse: collapse
}

.wiki-article .table-center .wiki-table {
	margin: auto
}

.wiki-article .table-right {
	margin-left: 20px;
	margin-bottom: 20px;
	float: right
}

@media screen and (max-width:420px) {
	.wiki-article .table-right {
		float: none;
		margin: 10px 0
	}
}

.wiki-article .wiki-table td {
	padding: 5px 10px;
	border: 1px solid #ddd
}

.wiki-article .wiki-table td .wiki-paragraph {
	margin-bottom: 0
}

.wiki-article .table td {
	word-wrap: break-word
}

.wiki-article div.wiki-category {
	border: 1px solid #ccc;
	padding: 3px;
	padding-left: 5px;
	margin-bottom: 1em;
	border-radius: 4px
}

.wiki-article div.wiki-category h2 {
	display: inline-block;
	border: 0;
	padding: 0;
	margin: 0;
	font-weight: 400;
	font-size: inherit
}

.wiki-article div.wiki-category ul {
	display: inline-block;
	margin-bottom: 0;
	padding-left: 0 !important
}

.wiki-article div.wiki-category h2:after {
	content: ':'
}

.wiki-article div.wiki-category ul li {
	display: inline-block
}

.wiki-article div.wiki-category ul li.wiki-category-blur a {
	filter: blur(3px);
	-webkit-filter: blur(3px)
}

.wiki-article div.wiki-category ul li.wiki-category-blur a:hover {
	filter: inherit;
	-webkit-filter: inherit
}

.wiki-article div.wiki-category ul li:after {
	content: '|';
	padding-left: 5px
}

.wiki-article div.wiki-category ul li:last-child:after {
	display: none
}

.wiki-category-container {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3
}

.wiki-category-container div:first-child h3 {
	margin-top: 0
}

.wiki-article em {
	font-style: italic
}

.wiki-article .wiki-file-image {
	margin-bottom: 20px
}

.wiki-article .wiki-lazy-loading {
	background-color: #888
}

.wiki-article .wiki-lazy-loading-error {
	background-color: #a00
}

.wiki-article .syntax-wrapper {
	padding-right: calc(2em + 20px);
	margin: 1em 0;
	border: 2px dashed #ccc;
	border-left: 5px solid #609aff;
	background-color: #f5f5f5
}

.wiki-article .syntax-wrapper>pre {
	padding: .7em .8em;
	margin: 0;
	background: 0 0;
	border: none;
	font-size: .9rem
}

.wiki-article .syntax-wrapper>.syntax-lines {
	float: left;
	background-color: #c4dcff;
	border-radius: 0;
	padding: .7em .5em .7em 1em;
	text-align: right
}

.wiki-article .syntax-wrapper>.syntax-lines div {
	font-family: monospace !important;
	line-height: 1.3em
}

.wiki-article .syntax {
	font-family: monospace !important;
	white-space: pre;
	line-height: 1.3em
}

.wiki-article .syntax span {
	font-family: monospace !important
}

.wiki-article .syntax .syntax-marker {
	border-top: 1px solid #f0f0d0;
	background-color: #ffffe0;
	border-bottom: 1px solid #f0f0d0
}

.wiki-article .syntax .syntax-anchor {
	color: #c33
}

.wiki-article .syntax .syntax-comment {
	font-style: italic;
	color: #999
}

.wiki-article .syntax .syntax-keyword {
	font-weight: 700;
	color: #69c
}

.wiki-article .syntax .syntax-literal {
	color: #c08030
}

.wiki-article dl.wiki-folding {
	margin: 0
}

.wiki-article dl.wiki-folding dt {
	cursor: pointer
}

.wiki-article dl.wiki-folding dd {
	display: none;
	margin: 0
}

.wiki-article .wiki-image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.wiki-article .wiki-image-wrapper {
	position: relative;
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	font-size: 0
}

.wiki-article .wiki-image-loading {
	display: none
}

.wiki-article .wiki-image-align-normal, .wiki-article .wiki-image-align-left,
	.wiki-article .wiki-image-align-right, .wiki-article .wiki-image-align-top,
	.wiki-article .wiki-image-align-bottom, .wiki-article .wiki-image-align-center,
	.wiki-article .wiki-image-align-middle {
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
	max-width: 100%
}

.wiki-article .wiki-image-align-left {
	float: left
}

.wiki-article .wiki-image-align-right {
	float: right
}

.wiki-article .wiki-image-align-center, .wiki-article .wiki-image-align-middle
	{
	display: block;
	text-align: center
}

.wiki-article .wiki-image-align-top {
	vertical-align: top
}

.wiki-article .wiki-image-align-bottom {
	vertical-align: bottom
}

.wiki-inner-content {
	overflow: hidden
}

.wiki-document-namespace {
	color: #545454
}

.senkawa .modal .wiki-link-external:before, .senkawa .popover .wiki-link-external:before,
	.wiki-article .wiki-link-external:before {
	padding: 0 .15em;
	background: green;
	color: #fff;
	content: "\f1fe";
	font-family: ionicons !important
}

.wiki-article .wiki-quote {
	padding: 1em calc(2em + 25px) 1em 1em;
	margin: 1em 0;
	background: #eee;
	display: table;
	border: 2px dashed #ccc;
	border-left: 5px solid #71bc6d;
	background-image: url(../img/wiki/quote.png);
	background-position: calc(100% - 10px) 10px;
	background-repeat: no-repeat;
	background-size: 25px
}

.wiki-article .wiki-lazy-loading {
	background-color: #888;
	background-image: url(../img/wiki/loading.gif);
	background-repeat: no-repeat;
	background-position: center
}

.wiki-article .wiki-lazy-loading-error {
	background-color: #a00;
	background-image: url(../img/wiki/loading-error.png);
	background-repeat: no-repeat;
	background-position: center
}

.wiki-article .syntax-wrapper {
	padding-right: calc(2em + 20px);
	margin: 1em 0;
	border: 2px dashed #ccc;
	border-left: 5px solid #609aff;
	background-color: #f5f5f5;
	background-image: url(../img/wiki/code.png);
	background-position: calc(100% - 10px) 7px;
	background-repeat: no-repeat;
	background-size: 30px
}

.wiki-article .wiki-link-external:before {
	padding: 0 .15em;
	background: green;
	color: #fff;
	content: "\f1fe";
	font-family: ionicons !important
}

.wiki-heading:before {
	float: left;
	font-family: ionicons;
	font-weight: 400;
	font-size: .6em;
	line-height: 1.8em;
	text-align: center;
	margin: 0 .5rem 0 .2rem;
	width: .9em;
	color: #666;
	content: "\f123"
}

.wiki-heading.wiki-heading-content-folded:before {
	content: "\f125"
}

.wiki-article .wiki-fn-content {
	white-space: nowrap
}

.senkawa h1, .senkawa h2, .senkawa h3, .senkawa h4, .senkawa h5,
	.senkawa h6 {
	font-weight: 700
}

.senkawa .nav.nav-pills.nav-stacked .title {
	font-size: 1.3rem;
	font-weight: 600;
	margin: 1rem 0 .5rem .3rem
}

.senkawa .nav.nav-pills.nav-stacked .title:first-of-type {
	margin-top: 0
}

.senkawa .breadcrumb.link-nav {
	padding: .4rem .8rem;
	display: inline-block;
	border-radius: 0
}

.senkawa .breadcrumb.link-nav>li+li::before {
	padding-right: .3rem;
	padding-left: .3rem;
	content: "| "
}

.senkawa .nav-pills .nav-link.active {
	background-color: #368a82
}

.senkawa input.form-control, .senkawa textarea.form-control {
	border-radius: 0;
	padding: .25rem .5rem
}

.senkawa select.form-control {
	border-radius: 0
}

.senkawa small {
	font-size: 70% !important
}

.senkawa .wiki-article table caption {
	color: #000;
	padding-top: 0;
	padding-bottom: .2rem;
	text-align: center;
	caption-side: top
}

@media screen and (max-width:42em) {
	.senkawa .table-wrap table {
		white-space: nowrap
	}
}

.senkawa fieldset {
	border: 1px solid #ccc;
	padding: .5rem 1rem 1rem
}

.senkawa fieldset legend {
	display: inline-block;
	margin: 0 -.3rem;
	padding: 0 .3rem;
	font-size: 1rem;
	width: auto
}

.senkawa .btn {
	padding: .3rem .7rem;
	border-radius: 0
}

.senkawa .form-inline .btn {
	padding: .2rem .7rem
}

.senkawa .btn-sm {
	padding: .2rem .45rem
}

.senkawa .btn-lg {
	padding: .75rem 1.25rem
}

.senkawa .wiki-article .wiki-list {
	padding-left: .5rem
}

.senkawa .table th, .senkawa .table td {
	padding: .5rem .7rem
}

.senkawa .table tr:last-of-type td {
	border-bottom: 1px solid #eceeef
}

.senkawa .nav {
	list-style: outside none none !important
}

.senkawa .alert {
	padding: .5rem .8rem
}

.senkawa .alert .close {
	font-size: 18px !important;
	top: 0;
	right: 0
}

.senkawa .input-group .input-group-btn .btn {
	padding: .25rem .5rem;
	border-radius: 0
}

.senkawa .alert .close {
	color: #000;
	font-size: 1.5rem !important;
	margin-left: .5rem
}

.senkawa .hidden {
	display: none !important
}

.senkawa .popover .popover-title .close {
	display: inline-block;
	float: right;
	font-size: 1.3rem;
	margin: -4px -4px 0 0
}

.senkawa .modal .close {
	font-size: 25px !important
}

html {
	-ms-overflow-style: scrollbar
}

html, body, table.diff tbody, .popover, .tooltip {
	font-family: open sans, arial, apple sd gothic neo, noto sans cjk kr,
		본고딕, kopubdotum medium, 나눔바른고딕, 나눔고딕, nanumgothic, 맑은고딕, malgun gothic,
		sans-serif
}

body, th, td, div, p, li {
	font-size: .9rem
}

input, select, textarea, button, .senkawa .btn {
	font-size: .9rem !important
}

body.senkawa {
	background-color: #efefef
}

:focus {
	outline: none
}

::-moz-focus-inner {
	border: 0
}

.senkawa .table-wrap {
	display: block;
	max-width: 100%;
	overflow-x: auto;
	margin: 10px 0
}

.senkawa .tab-content.bordered {
	border: 1px solid #ddd;
	border-top: none
}

.senkawa .navbar-wrapper {
	background-color: #008275;
	z-index: 91001
}

.senkawa .navbar {
	padding: 0 1rem;
	font-size: 1rem;
	background-color: #008275
}

.senkawa .navbar .navbar-brand {
	margin-right: .7rem
}

@media screen and (max-width:420px) {
	.senkawa .navbar .navbar-brand {
		margin-right: .3rem
	}
}

.senkawa .navbar .wiki-logo {
	height: 2.6rem;
	width: 6.6rem;
	background: transparent url("../img/namuwiki_logo_kor_white_small.png")
		no-repeat scroll center center/auto 35px;
	padding: 0
}

.senkawa .navbar-nav .nav-item {
	padding: 0
}

.senkawa .navbar-nav .nav-item+.nav-item {
	margin-left: .2rem
}

.senkawa .navbar-nav .icon:before {
	min-width: 1em;
	text-align: center
}

.senkawa .navbar-nav .icon-title {
	margin-left: .3rem
}

.senkawa .navbar-nav .nav-link {
	color: #fff;
	font-size: 1rem;
	padding: .6rem .7rem .5rem
}

.senkawa .navbar-nav .nav-link:hover {
	background-color: #38a59a;
	color: #fff
}

@media screen and (max-width:42em) {
	.senkawa .navbar-nav .icon {
		margin-right: 0
	}
	.senkawa .navbar-nav .nav-item+.nav-item {
		margin-left: 0
	}
	.senkawa .navbar-nav .nav-link {
		padding: .6rem .9rem .5rem
	}
	.senkawa .navbar-nav .nav-link>.icon-title {
		display: none
	}
}

@media screen and (max-width:420px) {
	.senkawa .navbar {
		padding: 0 .3rem
	}
	.senkawa .navbar-nav .nav-link {
		padding: .6rem .5rem .5rem
	}
	.senkawa .navbar .search-box-parent {
		margin: 0 .7rem
	}
}

.senkawa .navbar .search-box {
	float: right
}

.senkawa .navbar .search-box input {
	width: 220px;
	height: 2.62rem;
	border-radius: 0
}

.senkawa .navbar .search-box .btn {
	height: 2.62rem;
	color: #000;
	font-size: 1.2rem !important;
	padding: .25rem .5rem;
	border-radius: 0;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc
}

.senkawa .navbar .search-box .right-search-btns .btn:first-of-type {
	margin-left: 0;
	border-left: 0
}

@media screen and (max-width:42em) {
	.senkawa .navbar .search-box .left-search-btns .btn:first-of-type {
		margin-left: 0;
		border-left: 0
	}
}

@media screen and (max-width:1020px) {
	.senkawa .navbar .search-box {
		float: left;
		width: calc(100% + 2rem);
		margin-left: -1rem;
		display: table !important;
		height: 2rem !important
	}
	.senkawa .navbar .search-box input {
		width: 100%;
		height: 2.2rem
	}
	.senkawa .navbar .search-box .input-group-btn {
		width: 1%
	}
	.senkawa .navbar .search-box .btn {
		height: 2.2rem;
		padding: .15rem .5rem .35rem
	}
	.senkawa .navbar .search-box .btn:last-of-type {
		border-right: 0
	}
}

.senkawa .navbar .user-menu-parent, .senkawa .navbar .user-menu-parent>a
	{
	width: 42px;
	height: 42px
}

.senkawa .navbar .user-menu-parent {
	margin-left: .5rem
}

.senkawa .navbar .user-menu {
	display: inline-block;
	padding: 0
}

.senkawa .navbar .user-menu .icon {
	display: inline-block;
	font-size: 1.4rem;
	text-align: center;
	width: 2.4rem;
	padding-top: .3rem;
	padding-left: .3rem;
	margin-right: 0;
	margin-bottom: .1rem
}

.senkawa .navbar .user-menu:after {
	margin-left: 0;
	border-top: 0;
	border-right: 0;
	border-left: 0
}

.senkawa .navbar .user-menu .user-img {
	width: 42px;
	height: 42px
}

.senkawa .navbar .dropdown-menu {
	margin-top: 1rem;
	font-size: .9rem;
	border-radius: 0;
	left: -.2rem
}

.senkawa .navbar .dropdown-menu.right {
	left: auto;
	right: -6px
}

.senkawa .navbar .dropdown-menu.user-dropdown.right {
	right: 0
}

.senkawa .navbar .dropdown-menu:after, .senkawa .navbar .dropdown-menu:before
	{
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none
}

.senkawa .navbar .dropdown-menu:after {
	border-bottom-color: #fff;
	border-width: 10px;
	left: 1.25rem;
	right: auto
}

.senkawa .navbar .dropdown-menu:before {
	border-bottom-color: #ccc;
	border-width: 11px;
	left: 1.2rem;
	right: auto
}

.senkawa .navbar .dropdown-menu.right:after {
	left: auto;
	right: 10px
}

.senkawa .navbar .dropdown-menu.right:before {
	left: auto;
	right: 9px
}

.senkawa .navbar .user-dropdown .user-info:hover {
	background-color: #fff
}

.senkawa .navbar .user-dropdown .user-info .user-info {
	margin-right: -.5rem;
	line-height: 20px;
	text-align: right
}

.senkawa .navbar .user-dropdown .user-info .user-info div {
	font-size: .8rem
}

.senkawa .navbar .user-dropdown .user-info .user-info div:first-of-type
	{
	font-size: 1rem !important;
	font-weight: 700
}

.senkawa .footer-wrapper {
	background-color: #fff;
	border-top: 1px solid #ccc
}

.senkawa .footer {
	margin: 0 auto;
	padding: 1rem;
	text-align: center
}

.senkawa .footer p {
	margin-bottom: .5rem
}

.senkawa .footer p:last-of-type {
	margin-bottom: 0
}

.senkawa .footer .sep:before {
	content: '|';
	margin: 0 .5rem;
	color: #aaa
}

@media screen and (max-width:1020px) {
	.senkawa .footer {
		padding-bottom: 3rem
	}
}

.senkawa .mobile-live-bottom-list, .senkawa .mobile-news-bottom-list {
	display: none;
	padding: 20px 10px 20px 20px;
	border-bottom: 1px solid #ccc;
	text-align: initial
}

.senkawa .sidebar {
	float: right;
	width: 17rem;
	margin: 1rem 1rem 1rem 0
}

#ad-powerlink-mobile {
	display: none
}

@media screen and (max-width:1020px) {
	.senkawa .sidebar {
		display: none
	}
	.senkawa .mobile-live-bottom-list, .senkawa .mobile-news-bottom-list {
		display: block
	}
	#ad-powerlink-pc {
		display: none
	}
	#ad-powerlink-mobile {
		display: block
	}
}

.senkawa .sidebar.has-site-notice {
	
}

.senkawa .sidebar .card {
	background-color: #fff;
	border-color: #ccc;
	border-radius: 0
}

.senkawa .sidebar .card {
	padding: 0
}

.senkawa .sidebar .card .card-title {
	margin: 1.25rem
}

.senkawa .sidebar .ad-card {
	margin-top: 1rem
}

.senkawa .link-table a {
	display: block;
	padding: .3rem 3.3rem .3rem .5rem;
	border-top: 1px solid #ccc;
	word-wrap: break-word;
	overflow: auto
}

.senkawa .link-table a:last-of-type {
	border-bottom: 1px solid #ccc
}

.senkawa .link-table a span.time {
	float: right;
	margin-right: -2.8rem;
	color: #000
}

.senkawa a.more-link {
	display: block;
	text-align: right;
	padding: .5rem .7rem
}

.senkawa .sidebar .card a:hover {
	background-color: #fcfcfc;
	text-decoration: none
}

.senkawa .live-list-card .link-table a, .senkawa .news-list-card .link-table a
	{
	padding-right: .3rem;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: normal;
	white-space: nowrap
}

.senkawa .live-list-card .link-table a:hover, .senkawa .news-list-card .link-table a:hover
	{
	overflow: visible;
	white-space: normal
}

.senkawa .wiki-article {
	margin: 0 19rem 0 0;
	padding: 1.5rem;
	min-height: 35rem;
	background-color: #fff;
	border-right: 1px solid #ccc;
	word-break: break-all
}

@media screen and (max-width:1020px) {
	.senkawa .wiki-article {
		padding: .7rem;
		margin: 0;
		border: 0 !important
	}
}

.senkawa .wiki-article .site-notice {
	background-color: #f0ef75;
	padding: .3rem 1rem;
	margin: -1.5rem -1.5rem 1.5rem;
	border-bottom: 1px solid #ccc
}

@media screen and (max-width:1020px) {
	.senkawa .wiki-article .site-notice {
		margin: -.7rem -.7rem .7rem;
		padding: .2rem .7rem
	}
}

.senkawa .leaf-info {
	font-family: "monospace";
	color: #fff;
	font-size: .8em;
	border-radius: .3rem;
	background: #008275;
	padding: 0 .3rem;
	margin-top: .2rem;
	margin-right: .2rem
}

.senkawa .wiki-article .alert {
	margin-bottom: .7rem
}

.senkawa .wiki-article .alert.last {
	margin-bottom: 1.4rem
}

.senkawa .wiki-article>.title {
	margin: 0 0 2rem;
	font-weight: 700
}

.senkawa .wiki-article>h1.title {
	font-size: 2.2rem
}

.senkawa .wiki-article>h1.title>a {
	color: #000
}

.senkawa .wiki-article>.title+.wiki-edit-date {
	font-size: .85rem;
	margin-top: -1.8rem;
	margin-bottom: 1rem;
	text-align: right
}

@media screen and (max-width:1020px) {
	.senkawa .wiki-article>.title+.wiki-edit-date {
		margin-top: -1.4rem
	}
}

.senkawa .wiki-article .wiki-article-menu {
	float: right
}

.senkawa .wiki-article .wiki-article-menu a {
	font-size: .9rem;
	padding: .3rem .8rem
}

.senkawa .wiki-article .wiki-article-menu a.discuss-bold {
	background-color: #bbeabb
}

.senkawa .wiki-article .wiki-article-menu a.btn-star span {
	color: #ff6200;
	margin-right: .1em
}

@media screen and (max-width:1020px) {
	.senkawa .wiki-article .wiki-article-menu ~h1.title {
		margin-top: 1rem
	}
	.senkawa .wiki-article .wiki-article-menu {
		margin: -.7rem -.7rem 0;
		border-bottom: .0625rem solid #ccc;
		text-align: right;
		float: none
	}
	.senkawa .wiki-article .wiki-article-menu .btn {
		border-radius: 0;
		border-top: 0;
		border-bottom: 0
	}
	.senkawa .wiki-article .alert+.wiki-article-menu {
		border-top: 1px solid #ccc
	}
	.senkawa .btn-group>.btn:last-child:not (:first-child ){
		border-right: 0
	}
}

.senkawa .wiki-article ul:not ([class] ){
	padding-left: 2rem
}

.senkawa .wiki-content {
	min-height: 22rem
}

.senkawa .wiki-article tr.no-line+tr td {
	border-top: 0;
	padding-top: 0;
	padding-left: 1.5rem
}

.senkawa .wiki-article>footer {
	border-top: 1px solid gray;
	margin: 1.5rem 0 0;
	padding: .7rem 0 0;
	text-align: right;
	background-color: #fff
}

.senkawa .wiki-article>footer p:last-of-type {
	margin-bottom: 0
}

.senkawa .wiki-article .recent-option {
	margin-bottom: 1.4rem
}

.senkawa .wiki-article .recent-option .form-group label {
	margin-right: .7rem;
	line-height: 1.8rem
}

.senkawa .wiki-article .recent-option .form-group select {
	min-width: 10rem;
	padding: .1rem .3rem
}

.senkawa .wiki-article .recent-option .btns {
	margin: 1rem 0 0;
	float: none
}

@media screen and (min-width:420px) {
	.senkawa .wiki-article .recent-option .btns {
		margin: 0;
		float: right
	}
}

.senkawa .wiki-content .wiki-unfold-fn {
	background-color: #efefef;
	color: #555;
	border: 1px solid #cecece;
	font-size: .8rem;
	margin-left: .1rem;
	margin-right: .2rem
}

.senkawa .wiki-content .wiki-unfold-fn .wiki-fn-content {
	font-size: 1em;
	vertical-align: baseline
}

.senkawa .wiki-article #previewFrame {
	display: block;
	width: 100%;
	height: 30rem;
	border: none
}

.senkawa .wiki-article #editForm #textInput {
	width: 100%;
	height: 30rem;
	border: none
}

.senkawa #uploadForm, .senkawa #lostForm {
	overflow: hidden
}

.senkawa #uploadForm #fakeFileInput[readonly] {
	background-color: #fff;
	cursor: default
}

.senkawa #uploadForm #textInput {
	width: 100%;
	height: 30rem;
	margin: .3rem 0 1rem
}

.senkawa #uploadForm #uploadBtn {
	width: 7rem
}

.senkawa .login-form, .senkawa .signup-form {
	width: 100%
}

.senkawa .login-form input[type=text], .senkawa .login-form input[type=password],
	.senkawa .signup-form input[type=text], .senkawa .signup-form input[type=email],
	.senkawa .signup-form input[type=password] {
	width: 100%
}

@media screen and (min-width:34rem) {
	.senkawa .login-form {
		width: 28rem;
		margin: 0 auto
	}
	.senkawa .signup-form {
		width: 34rem;
		margin: 0 auto
	}
	.senkawa .login-form label, .senkawa .signup-form label {
		display: block
	}
	.senkawa .login-form input[type=text], .senkawa .login-form input[type=password],
		.senkawa .signup-form input[type=text], .senkawa .signup-form input[type=email],
		.senkawa .signup-form input[type=password] {
		display: inline-block;
		margin-left: .7rem;
		width: calc(100% - 0.7rem)
	}
}

.senkawa form .error-desc {
	margin-left: .7em;
	color: red
}

.senkawa form .btns, .senkawa .settings-section .btns {
	text-align: right;
	margin-top: 2rem
}

.senkawa .login-form button[type=submit], .senkawa .signup-form button[type=submit]
	{
	width: 5rem
}

.senkawa .small-doc {
	border: 1px solid #ccc;
	overflow: scroll;
	background-color: #fff;
	color: #000
}

.senkawa .small-doc .small-title {
	font-size: 1.4rem
}

.senkawa .small-doc ul {
	list-style: none
}

.senkawa .settings-nav {
	height: 2.6rem;
	margin-bottom: 1.2rem;
	padding: .3rem;
	border: 1px solid #ccc
}

.senkawa .settings-nav .nav-pills .nav-link {
	border-radius: 0;
	padding: .3rem .5rem
}

.senkawa .settings-nav .nav-pills .nav-item+.nav-item {
	margin-left: .5rem
}

.senkawa .settings-section {
	overflow: hidden
}

.senkawa .settings-section h3 {
	margin-top: 1.5rem;
	margin-bottom: 1rem
}

.senkawa .settings-section h3:first-of-type {
	margin-top: 0
}

.senkawa .settings-section .form-group .checkbox {
	padding-left: 1rem
}

.senkawa .settings-section .form-group select {
	margin-left: 1rem;
	max-width: 16rem
}

.senkawa .settings-section .form-group input[type=text] {
	margin-left: 1rem;
	max-width: 22rem
}

@media screen and (max-width:768px) {
	.senkawa .settings-section .form-group input[type=text] {
		width: calc(100% - 2rem)
	}
}

.senkawa .settings-section .form-group button {
	margin-left: 1rem
}

.senkawa .settings-section small {
	font-size: 80% !important
}

.senkawa .mypage-nav {
	float: left;
	width: 13rem;
	margin-bottom: 1.2rem;
	padding: .5rem;
	border: 1px solid #ccc
}

.senkawa .mypage-nav .nav-pills .nav-link {
	border-radius: 0
}

.senkawa .mypage-section {
	margin-left: 14rem
}

@media screen and (max-width:42em) {
	.senkawa .mypage-nav {
		float: none;
		width: auto
	}
	.senkawa .mypage-section {
		margin-left: 0
	}
}

.senkawa .license-table {
	table-layout: fixed
}

.senkawa .license-table tr td:first-of-type {
	text-align: right
}

.senkawa .alert.search-help {
	min-height: 3.2rem;
	margin-bottom: .8rem;
	overflow: hidden
}

.senkawa .alert.search-help .pull-left {
	line-height: 2.1rem
}

.senkawa .search-summary {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: .9rem
}

.senkawa .search-section .search-item {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 1.1rem
}

.senkawa .search-section .arrow-circle {
	background-color: #009888;
	color: #fff;
	text-align: center;
	border-radius: 16px;
	padding: 0 8px 1px 9px;
	margin-right: 4px
}

.senkawa .search-section h4 {
	margin-top: 1.3rem;
	margin-bottom: .9rem
}

.senkawa .search-section h4 a {
	color: #000
}

.senkawa .search-section h4 a:hover {
	text-decoration: none
}

.senkawa .search-section .search-highlight {
	background-color: #48ad97;
	color: #fff;
	padding: 0 .2em;
	border-radius: 4px
}

.senkawa .search-section .pagination>li>a {
	padding: .4rem .75rem
}

.senkawa .wiki-content.character {
	background-position: right top !important;
	background-repeat: no-repeat !important
}

.senkawa .wiki-content.munya-notfound {
	background-image: url(../img/character/munya/notfound.png);
	background-size: auto 340px
}

@media screen and (max-width:360px) , screen and (max-height:360px) {
	.senkawa .wiki-content.munya-notfound {
		background-size: auto 200px
	}
}

.senkawa .wiki-content.sephi-notfound0 {
	background-image: url(../img/character/sephirot/notfound0.png);
	background-size: auto 340px
}

@media screen and (max-width:360px) , screen and (max-height:360px) {
	.senkawa .wiki-content.sephi-notfound0 {
		background-size: auto 200px
	}
}

.senkawa .wiki-content.sephi-notfound1 {
	background-image: url(../img/character/sephirot/notfound1.png);
	background-size: auto 340px
}

@media screen and (max-width:360px) , screen and (max-height:360px) {
	.senkawa .wiki-content.sephi-notfound1 {
		background-size: auto 200px
	}
}

.senkawa .nav-control {
	position: fixed;
	margin: 0;
	padding: 0;
	right: 0;
	bottom: 0;
	list-style-type: none;
	border-bottom: none;
	border-right: none;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-top-left-radius: 5px;
	background-color: #008275;
	opacity: .8;
	z-index: 90005
}

.senkawa .nav-control li {
	float: left
}

.senkawa .nav-control li a {
	color: #fff;
	font-size: 1.8rem;
	line-height: 42px;
	text-align: center;
	width: 40px;
	height: 40px;
	display: inline-block;
	border-left: 2px dashed #ccc
}

.senkawa .nav-control li:first-of-type a {
	border-left: none
}

@media screen and (max-width:1020px) {
	.senkawa .nav-control li a {
		width: 45px;
		height: 45px;
		font-size: 2.2rem;
		line-height: 48px
	}
}

.senkawa.modal-open.modal-open-fix {
	overflow: visible !important;
	padding-right: 0 !important
}

.senkawa.modal-open.modal-open-fix2 {
	padding-right: 0 !important
}

.senkawa.modal-open.modal-open-fix3 {
	padding-right: 17px !important
}

.senkawa .modal#shortcutHelpModal .modal-body dl {
	margin: 0
}

.senkawa .modal#shortcutHelpModal .modal-body dt {
	text-align: right
}

.senkawa .modal#shortcutHelpModal .modal-body b {
	color: #bd4147;
	background-color: #f7f7f9
}

.senkawa .modal#searchModal {
	left: auto;
	right: 1.5rem !important
}

.senkawa .modal#searchModal .modal-content {
	border: 0;
	border-radius: 0
}

.senkawa .modal#searchModal .close {
	top: 4px;
	position: relative
}

.senkawa .modal#searchModal .modal-header {
	padding: .3rem .7rem;
	border: 1px solid rgba(0, 0, 0, .2);
	border-bottom: 0
}

.senkawa .modal#searchModal .modal-body {
	padding: 1px
}

.senkawa .modal#footnoteModal .modal-header {
	padding: 10px 15px
}

.senkawa .modal#footnoteModal .modal-footer {
	padding: 0
}

.senkawa .modal#footnoteModal .modal-footer .btn {
	border-radius: .3rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 7px
}

.senkawa .modal#footnoteModal .modal-dialog {
	position: relative;
	width: 600px;
	max-width: 600px;
	margin: 60px auto;
	left: 50%;
	margin-left: -300px
}

@media screen and (max-width:630px) {
	.senkawa .modal#footnoteModal .modal-dialog {
		width: calc(100% - 20px);
		margin: 60px 10px;
		left: auto
	}
}

.senkawa.fixed-size .wiki-article {
	border-left: 1px solid #ccc
}

@media screen and (max-width:1020px) {
	.senkawa.fixed-size .wiki-article {
		border-left: none !important
	}
}

.senkawa.fixed-size.hide-sidebar .wiki-article {
	margin-right: 0
}

.senkawa.fixed-size .content-wrapper {
	margin: 0 auto
}

.senkawa.fixed-size.fixed-800 .content-wrapper, .senkawa.fixed-size.fixed-800 .navbar,
	.senkawa.fixed-size.fixed-800 .footer {
	max-width: 800px
}

.senkawa.fixed-size.fixed-1000 .content-wrapper, .senkawa.fixed-size.fixed-1000 .navbar,
	.senkawa.fixed-size.fixed-1000 .footer {
	max-width: 1000px
}

.senkawa.fixed-size.fixed-1100 .content-wrapper, .senkawa.fixed-size.fixed-1100 .navbar,
	.senkawa.fixed-size.fixed-1100 .footer {
	max-width: 1100px
}

.senkawa.fixed-size.fixed-1200 .content-wrapper, .senkawa.fixed-size.fixed-1200 .navbar,
	.senkawa.fixed-size.fixed-1200 .footer {
	max-width: 1200px
}

.senkawa.fixed-size.fixed-1300 .content-wrapper, .senkawa.fixed-size.fixed-1300 .navbar,
	.senkawa.fixed-size.fixed-1300 .footer {
	max-width: 1300px
}

.senkawa.fixed-size.fixed-1500 .content-wrapper, .senkawa.fixed-size.fixed-1500 .navbar,
	.senkawa.fixed-size.fixed-1500 .footer {
	max-width: 1500px
}

.senkawa.fixed-size.fixed-1600 .content-wrapper, .senkawa.fixed-size.fixed-1600 .navbar,
	.senkawa.fixed-size.fixed-1600 .footer {
	max-width: 1600px
}

.senkawa.fixed-size .navbar {
	margin: 0 auto
}

.senkawa.fixed-size:not (.left-sidebar ) .wiki-article .site-notice {
	
}

.senkawa.fixed-navbar .wiki-article .wiki-fn-content .target, .senkawa.fixed-navbar .wiki-article .footnote-list .target
	{
	position: absolute;
	margin-top: -40px
}

.senkawa.fixed-navbar .wiki-article {
	margin-top: 2.53rem
}

@media screen and (max-width:1020px) {
	.senkawa.fixed-navbar .wiki-article {
		margin-top: 4.83rem
	}
}

.senkawa.fixed-navbar .navbar-wrapper {
	width: 100%;
	position: fixed;
	height: 2.6rem;
	margin-top: -40px
}

@media screen and (max-width:1020px) {
	.senkawa.fixed-navbar .navbar-wrapper {
		height: 2.5rem
	}
}

.senkawa.fixed-navbar .navbar {
	z-index: 90004
}

.senkawa.fixed-navbar.modal-open .modal .modal-dialog {
	margin-top: 60px !important
}

@media screen and (max-width:1020px) {
	.senkawa.fixed-navbar.modal-open .modal .modal-dialog {
		margin-top: 90px !important
	}
}

.senkawa.hide-sidebar .sidebar {
	display: none
}

.senkawa.hide-sidebar:not (.fixed-size ) .wiki-article {
	margin-right: 0;
	margin-left: 0
}

.senkawa.hide-sidebar .wiki-article .site-notice {
	margin: -1.5rem -1.5rem 1.5rem
}

@media screen and (max-width:1020px) {
	.senkawa.hide-sidebar .wiki-article .site-notice {
		margin: -.7rem -.7rem .7rem
	}
}

.senkawa.nowrap-wiki-table .wiki-article .wiki-table {
	white-space: nowrap
}

.senkawa.left-sidebar .wiki-article {
	margin-left: 19rem;
	margin-right: 0;
	border-left: 1px solid #ccc
}

@media screen and (max-width:1020px) {
	.senkawa.left-sidebar .wiki-article {
		margin-left: 0
	}
}

.senkawa.left-sidebar .sidebar {
	float: left;
	margin: 1rem 0 1rem 1rem
}

.senkawa.left-sidebar .wiki-article .site-notice {
	margin: -1.5rem -1.5rem 1.5rem
}

.senkawa.left-sidebar .sidebar.has-site-notice {
	
}

@media print {
	.senkawa .navbar, .senkawa .tab_bar, .senkawa .wiki-article .wiki-article-menu,
		.senkawa .nav-control, .senkawa .sidebar {
		display: none !important
	}
	.senkawa .wiki-article {
		margin: 0;
		border: 0 !important
	}
}

.senkawa #nprogress .bar {
	background: #bbeabb;
	position: fixed
}

.senkawa #nprogress .peg {
	box-shadow: 0 0 10px #fff, 0 0 5px #fff
}

.senkawa .treadmill-unit {
	overflow: hidden;
	position: relative
}

.senkawa .line-break {
	display: block;
	border: none;
	border-bottom: 1px solid #ccc
}

.senkawa table.diff tbody th {
	white-space: nowrap
}

.senkawa .popover {
	max-width: 50%;
	word-break: break-all
}

.senkawa .modal del, .senkawa .popover del {
	color: gray
}

.senkawa .modal .not-exists, .senkawa .popover .not-exists {
	color: red
}

.senkawa .modal .not-exists, .senkawa .popover .not-exists {
	font-weight: 700
}

.senkawa .modal .wiki-link-external, .senkawa .popover .wiki-link-external
	{
	color: #090
}

.senkawa .modal img, .senkawa .popover img {
	display: inline-block;
	max-width: 100%
}

@media screen and (max-width:335px) {
	.senkawa .navbar .user-menu-parent {
		margin-left: 0
	}
	.senkawa .navbar .user-menu-parent, .senkawa .navbar .user-menu-parent>a,
		.senkawa .navbar .user-menu .icon, .senkawa .navbar .user-menu .user-img
		{
		width: 35px
	}
	.senkawa .navbar .user-menu .icon {
		padding-left: 0
	}
}

div.adsense {
	padding-bottom: 1rem
}

@media screen and (max-width:335px) {
	div.adsense {
		margin-left: -11px
	}
}

div.ad-bottom {
	padding-top: 1rem;
	text-align: center
}

ins.adsbygoogle, ins.kakao_ad_area {
	margin: 0 auto
}

div.adsense ins.adsbygoogle {
	width: 320px;
	height: 100px;
	margin: 0 auto
}

@media ( min-width :500px) {
	div.adsense ins.adsbygoogle {
		width: 468px;
		height: 60px
	}
}

@media ( min-width :1100px) {
	div.adsense ins.adsbygoogle {
		width: 728px;
		height: 90px
	}
}

.kakao-ad-top-pc, .kakao-ad-top-mobile {
	text-align: center
}

.kakao-ad-top-mobile {
	display: none
}

@media screen and (max-width:1100px) {
	.kakao-ad-top-pc {
		display: none
	}
	.kakao-ad-top-mobile {
		display: block
	}
}

.senkawa .modal .wiki-link-external:before, .senkawa .popover .wiki-link-external:before,
	.wiki-article .wiki-link-external:before {
	padding: 0 .15em;
	background: green;
	color: #fff;
	content: "\f1fe";
	font-family: ionicons !important
}

.wiki-article .wiki-quote {
	padding: 1em calc(2em + 25px) 1em 1em;
	margin: 1em 0;
	background: #eee;
	display: table;
	border: 2px dashed #ccc;
	border-left: 5px solid #71bc6d;
	background-image: url(../img/wiki/quote.png);
	background-position: calc(100% - 10px) 10px;
	background-repeat: no-repeat;
	background-size: 25px
}

.wiki-article .wiki-lazy-loading {
	background-color: #888;
	background-image: url(../img/wiki/loading.gif);
	background-repeat: no-repeat;
	background-position: center
}

.wiki-article .wiki-lazy-loading-error {
	background-color: #a00;
	background-image: url(../img/wiki/loading-error.png);
	background-repeat: no-repeat;
	background-position: center
}

.wiki-article .syntax-wrapper {
	padding-right: calc(2em + 20px);
	margin: 1em 0;
	border: 2px dashed #ccc;
	border-left: 5px solid #609aff;
	background-color: #f5f5f5;
	background-image: url(../img/wiki/code.png);
	background-position: calc(100% - 10px) 7px;
	background-repeat: no-repeat;
	background-size: 30px
}

.wiki-article .wiki-link-external:before {
	padding: 0 .15em;
	background: green;
	color: #fff;
	content: "\f1fe";
	font-family: ionicons !important
}

.wiki-heading:before {
	float: left;
	font-family: ionicons;
	font-weight: 400;
	font-size: .6em;
	line-height: 1.8em;
	text-align: center;
	margin: 0 .5rem 0 .2rem;
	width: .9em;
	color: #666;
	content: "\f123"
}

.wiki-heading.wiki-heading-content-folded:before {
	content: "\f125"
}

.wiki-article .wiki-fn-content {
	white-space: nowrap
}

.senkawa .wiki-article .discuss-notice {
	background: #f5f5f5;
	margin: -15px -15px 0;
	padding: 9px 7px 7px 10px;
	border-bottom: 1px solid gray
}

.senkawa .wiki-article .res-wrapper {
	padding-bottom: 20px;
	margin: 0
}

.senkawa .wiki-article .res-wrapper.res-loading[data-visible=true] {
	opacity: .25;
	animation-duration: 500ms;
	animation-name: res-loading-ani;
	animation-iteration-count: infinite;
	animation-direction: alternate
}

@
keyframes res-loading-ani { 0%{
	opacity: .25
}

25%{
opacity








:








.37








}
50%{
opacity








:








.52








}
75%{
opacity








:








.81








}
100%{
opacity








:








1
}
}
.senkawa .wiki-article .res-wrapper.res-loading .r-body {
	padding: 50px
}

.senkawa .wiki-article .res-wrapper:last-of-type {
	padding-bottom: 40px;
	border-bottom: 2px dashed gray
}

.senkawa .wiki-article .res {
	min-width: 400px;
	max-width: 100%;
	display: inline-block;
	word-wrap: break-word
}

.senkawa .wiki-article #res-container.res-hide .res-hidden {
	display: none
}

.senkawa .wiki-article .topic-discuss .res-wrapper {
	padding-left: 25px
}

.senkawa .wiki-article .topic-discuss .res {
	width: 75%
}

@media screen and (max-width:700px) {
	.senkawa .wiki-article .res-wrapper {
		padding-left: 0
	}
	.senkawa .wiki-article .res {
		min-width: 100%;
		width: 100%;
		display: block
	}
	.senkawa .wiki-article .topic-discuss .res {
		display: block
	}
	.senkawa .wiki-article .res .r-head {
		border-left: none;
		border-right: none
	}
	.senkawa .wiki-article .res .r-body {
		border-left: none;
		border-right: none
	}
}

.senkawa .wiki-article .res .hidden-content {
	display: none
}

.senkawa .wiki-article .res .r-head {
	margin: 0;
	padding: 7px 7px 7px 10px;
	background: #d5d5d5;
	border: 1px solid gray;
	border-bottom: none
}

.senkawa .wiki-article .res .r-head.first-author {
	background: #b0d3ad
}

.senkawa .wiki-article .res .r-head .num {
	
}

.senkawa .wiki-article .res .r-head .flag-icon {
	margin-left: 5px
}

.senkawa .wiki-article .res .r-body {
	padding: 13px;
	border: 1px solid gray;
	background: #f4f4f4;
	word-wrap: break-word;
	max-height: 500px;
	overflow-y: auto
}

.senkawa .wiki-article .res .r-body img {
	max-width: 100%
}

.senkawa .wiki-article .res .r-body .wiki-paragraph:last-of-type {
	margin-bottom: 0
}

.senkawa .wiki-article .res.res-type-status .r-body {
	background: #fc6
}

.senkawa .wiki-article .res .r-hidden-body {
	background: #6b6b6b;
	color: #fff
}

.senkawa .wiki-article .res .wiki-quote {
	background-color: #fefefe
}

.senkawa .wiki-article .new-thread-form input[name=topic] {
	margin: 5px 0 10px
}

.senkawa .wiki-article .r-hidden-body .text-line-break {
	overflow: hidden;
	margin: 15px -10px -10px
}

.senkawa .wiki-article .r-hidden-body .text-line-break .text {
	color: #fff
}

.senkawa .wiki-article .r-hidden-body .text-line-break .line {
	border-bottom: 1px solid #fff
}

.senkawa .wiki-article .res .admin-menu {
	margin: 0
}

.senkawa .wiki-article .res .admin-menu .d_btn {
	border-top-right-radius: 0;
	border-top-left-radius: 0
}

.senkawa .wiki-article .more-box {
	display: block;
	background: #f4f4f4;
	border: 1px solid gray;
	width: 80px;
	text-align: center;
	font-weight: 700;
	padding: 5px;
	margin-bottom: 25px;
	margin-left: 40px
}

.senkawa .wiki-article .more-box:hover {
	background: #bac6f2
}

